/*button {*/
/*    background-color: hotpink;*/
/*    width: 100px;*/
/*    height: 80px;*/
/*    border-radius: 10px;*/
/*    color: rgb(255, 255, 255);*/

/*}*/

.greetings:hover {
    background-color: orange;
    font-size: 18px;
}

.greetings {
    width: 100px;
    height: 50px;
    border-radius: 10px;
    background-color: yellow;
}

.redirection {
    width: 150px;
    height: 20px;
    border-radius: 10px;
    background-color: wheat;
}
