.container {
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: auto
}

.header{
    display: flex;
    margin: 10px;
}

.list{
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.title{
    font-family: "Arial Black";
    font-size: 30px;
}

.content{
    white-space: normal;
}

.button{
    display: flex;
    justify-content: space-between;
    width: 300px;
}

.btn{
    font-size: 30px;
    color: grey;
    margin-right: 10px;
}

.summary{
    font-size: 14px;
    color: darkgrey;
    border-top: 1px solid gainsboro;
}

.playlistTable{
    width: 100%;
}

.column1{
    width: 100px;
    text-align: center;
    vertical-align: bottom;
}

.column2{
    width: 500px;
    vertical-align: bottom;
}

tr {
    margin-top: 10px;
    display: block;
    border-bottom: 1px solid darkgrey;
}