.calculator{
    height: 300px;
    width: 170px;
    border: solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.output{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    direction: rtl;
}
.calBtn{
    margin: 10px;
    width: 55px;
    height: 35px;
    display: flex;
    /*justify-content: space-between;*/
}
button{
    margin:5px;
}
