.weather {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 300px;
    width: 500px;
    /*position: absolute;*/
    border-radius: 10px;
    left: 15px;
    top: 14px;
    border: 4px solid #608094;
    background: #16394c;
    font-family: "Open Sans","Gill Sans MT","Gill Sans",Corbel,Arial,sans-serif;
    font-size: 14px;
    color: white;
}

.weatherRow {
    border: darkorchid 1px solid;
    margin: 1px;
    padding: 1px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.weatherColumn {
    border: green 1px solid;
    margin: 10px;
    padding: 10px;
}

.textSpan {
    display: block;
    margin-bottom: 2px;
    font-size: 13px;
}