.outsideBox{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.CalBox{
    width: 80%;
    background-color: #608094;
    border-radius: 5px;
    border-color: #16394c;
    box-shadow: 8px 2px 4px -2px rgba(0,0,0,0.8);
    /*box-shadow: h-shadow v-shadow blur spread color inset;*/
    display: flex;
    flex-direction: column;
    margin: 10px;
}
.CalRow{
    display: flex;
    justify-content: space-between;
}
.ButtonRow{
    padding: 5px 10px;
}
.LastRow{
    padding-bottom: 20px;
}
.Title{
    font-size: 30px;
    color: white;
    font-family: "American Typewriter";
    margin: 15px 15px;
}
.logo{
    color: gainsboro;
    margin: 5px 5px;
}
.displayTextBox{
    border-radius: 5px;
    border: darkslateblue;
    margin: 10px;
    background-color: azure;
    font-family: "Andale Mono";
    font-size: 24px;
    text-align: right;
    width: 100%;
    padding: 3px 3px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.Btn{
    background-color: beige;
    padding: 4px 4px;
    outline: none;
    color: black;
    width: 20%;
    box-shadow: 8px 2px 4px -2px rgba(0,0,0,0.8);
}

.Btn.darkBtn{
    background-color: gainsboro;
}
.Btn.equal{
    background-color: #accbff;
}

/*show the result---------*/
.table {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.result {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}
.inputBtn {
    font-family: "Andale Mono";
    margin: 10px;
}
.dataDisplay {
    background-color: azure;
}